
body {
    margin: 0 auto; 
    height: 100%;
    width: auto;
    background-image: url(img/background.jpg);
    background-size:100%;
    background-repeat: no-repeat;
    font-family: MedievalSharp;
    border-radius: 0px 0px 50px 50px;
    
} 

@media screen and (max-width: 1366px) {
    body {
        height: 100%;
        background-size: 100%;
        background-image: url(img/background\ -1366.jpg);
    }
   
}

::-webkit-scrollbar-thumb {
    background-color: #d8bc86;
    border-radius: 10px;
}

::-webkit-scrollbar {
    width: 0px;
} 

::-webkit-scrollbar-track {
    background-color: #d8bc86;
}

#top {
    margin: 3%  auto;
    background-size:cover; 
    display: flex;
    justify-content: center;
    width: 50%;
}

#top h1 {
    margin-bottom: 5%;
    color: #d8bc86;
    font-weight: bold;
    font-size: 90px;
    font-family: MedievalSharp;
    border-radius: 15px;
    
}

.text-container {
    margin-bottom: 0%;
}

.text-container textarea{ /* img */
    margin: 0 auto;
    background-image: url(img/background-2.jpg);
    height: 300PX;
    width: 50%;
    margin-left: 25%;
    margin-top:07%;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0px 26px 30px 16px rgba(0,0,0,0.75);
    outline: none;
}

.text-container textarea { /* txt */
    font-weight: 700;
    font-size: 30px;
    resize: none;
    text-align: center;
    color: rgb(66, 44, 11);
    font-family: MedievalSharp;
    padding-top: 40px;
    scrollbar-width: none;
}

.text-container ::placeholder {
    color: rgb(66, 44, 11);
}

.text-container button { /*botão Salvar*/
    background-image: url(img/background-2.jpg);
    background-size: cover;
    font-family: MedievalSharp;
}

.accordion { /*distancia dos botões*/
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.accordion-button /*botão */{
    max-width: 25%;
    background-image: url(img/background-2.jpg);
    background-size: cover;
    margin: 0 auto;
    font-family: MedievalSharp;
    padding-right: 20px;
    color: rgb(66, 44, 11);

}

.accordion-body { /*quando abre o botão*/
    background-image: url(img/background-2.jpg);
    background-size: cover;
    max-width: 25%;
    display: flex;
    justify-content: center;
    color: rgb(66, 44, 11);
    text-align: center;
    margin: 0 auto;
    margin-top: 0.01%;
    padding-bottom: 1%;
    font-family: MedievalSharp;
    border-radius: 10px;
    text-decoration: none;
    z-index: 999;
}

.button-roll {
    margin: 5% auto;
    background-size: cover;
    background-image: url(img/background-2.jpg);
    color: rgb(66, 44, 11);
}   

#resultDice {
    max-height: 130px;
    margin-bottom: 100px;
    padding-top: 5%;
    color: rgb(66, 44, 11);
}

.footer {
    
    position: absolute;
    height: 35px;
    width: 100%;
    margin-top: auto;
    background-image: url(img/background.jpg);
    background-size: cover;
}

.footer p {
    color: #d8bc86;
    font-size: 15px;
    padding-top: 0.3%;
    text-align: center;
    font-family: MedievalSharp;
}
